{% extends 'base2.html.twig' %}

{% block title %}New SalleCinema{% endblock %}

{% block body %}
  <center>  <h1>Création d'une nouvelle salle de cinéma</h1></center>

    {{ include('salle_cinema/_form.html.twig') }}

{% endblock %}
