<form method="post" action="{{ path('app_publication_signaler_delete', {'idSignaler': publication_signaler.idSignaler}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication_signaler.idSignaler) }}">
    <button class="btn">Delete</button>
</form>
