<head>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="btn.css">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{asset('paiement/stylepaiement.css')}}">
</head>

<form method="post" action="{{ path('app_paiement_delete', {'idPaiement': paiement.idPaiement}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiement.idPaiement) }}">
    <button class="submit-btn" >Delete</button>
</form>
