       		{% for message in app.flashes('success') %}
				<div class="alert alert-success">
				{{message}}
				</div>
			{% endfor %}
       {% block navbar %}
        {% include 'navbar/nav.html.twig' %}
       {% endblock %}
        